/* Screen Width Medium Device: 375px */
@media screen and (max-width: 375px) {
    /* Theme Core CSS Responsive Style */
    .section-head {
        font-size: 36px;
    }
    /* Form Page CSS Start */
    .field-title {
        margin-left: -6px;
        font-size: 15px;
    }
    .field-box {
        margin-left: 0;
    }
    .form-field {
        width: 327px;
        height: 37px;
        /* margin-left: 17px; */
    }
    .form-option {
        width: 327px;
        height: 37px;
        /* margin-left: 17px; */
        padding: 0px 15px;
    }    
    .formFiled-btn {
        margin-top: 30px;
        margin-left: 0;
    }
    .fb-error::after {
        top: 4px;
        right: -8px;
    }
    .fb-right::after {
        top: 4px;
        right: -8px;
    }    
    .form-msg {
        margin-top: 11px;
        margin-left: -2px;
    }
    .formFilled-option-one {
        margin-top: 25px;
    }
    .formFiled-birth {
        margin-top: 23px;
    }
    .form-msg p {
        font-size: 16px;
    }
    .Byear {
        width: 77px;
        height: 34px;
        margin-left: 25px;
    }
    .Bmonth {
        width: 148px;
        margin-left: 23px;
    }
    .Bdate {
        width: 76px;
        height: 36px;
    }
    .checkBox ul {
        margin-bottom: 0;
    }
    .formFiled-Checkbox {
        margin-top: 63px;
    }
    li a.form-btn {
        width: 170px;
        margin: 0px 0px;
        font-size: 15px;
        font-family: 'Montserrat Regular', sans-serif;
        font-weight: 400;
    }
   
    input[type="checkbox"] {
        width: 28px;
        height: 28px;
        background: red;
    }
    .checkBox label {
        font-size: 15px;
        color: #fff;
        text-transform: capitalize;
        margin-bottom: 2px;
        margin-left: 15px;
    }
    .form-msg-checkbox {
        margin-top: 18px;
    }
    .field-box-label-checkbox label {
        display: none;
    }
    
}

/* Tablet Responsive Tab view : 768px */
@media screen and (max-width: 768px) {
    /* Theme Core styles Responsive */
    .section-head {
        font-size: 48px;
    }

    /* Form Section Start */
    .field-title {
        margin-left: -20px;
    }
    .form-field {
        width: 377px;
        height: 38px;
        padding: 10px 15px;
        border-radius: 50px;
        border: 0;
        margin-left: 15px;
    }
    .fb-error::after {
        position: absolute;
        content: '\f06a';
        font-family: 'Font Awesome 5 Pro';
        top: 5px;
        right: -57px;
        font-size: 20px;
    }
    .form-msg p {
        margin-left: 16px;
        margin-top: 5px;
    }
    .formFilled-option-one {
        margin-top: 45px;
    }
    .form-option {
        width: 378px;
        height: 38px;
        padding: 10px 15px;
        border-radius: 50px;
        border: 0;
        margin-left: 14px;
    }
    .fb-right::after {
        position: absolute;
        content: '\f058';
        font-family: 'Font Awesome 5 Free';
        top: 3px;
        right: -58px;
        font-size: 22px;
        color: #00FF00;
    }
    .formFiled-birth {
        margin-top: 45px;
    }
    .Byear {
        width: 78px;
        height: 37px;
        padding: 0px 15px;
        border-radius: 50px;
        margin-left: 54px;
    }
    .Bmonth {
        width: 192px;
        height: 36px;
        padding: 0px 15px;
        border-radius: 50px;
        margin-left: 32px;
    }
    .Bdate {
        width: 77px;
        height: 37px;
        padding: 0px 15px;
        border-radius: 50px;
        margin-left: 14px;
    }
    .formFiled-Checkbox {
        margin-top: 46px;
    }
    .frm-checkbox {
        margin-left: 15px;
    }
    .checkBox label {
        font-size: 17px;
        color: #fff;
        text-transform: capitalize;
        margin-left: 25px;
    }
    .form-msg-checkbox p {
        margin-left: 16px;
        margin-top: 2px;
    }
    .frm-checkbox {
        margin-left: 15px;
    }
    li a.form-btn {
        display: block;
        width: 182px;
        height: 44px;
        line-height: 40px;
        text-align: center;
        border-radius: 50px;
        border: 3px solid #fff;
        text-decoration: none;
        color: #111;
        font-size: 16px;
        font-family: 'Montserrat SemiBold', sans-serif;
        font-weight: 400;
        margin-left: -13px;
        margin-top: -8px;
        margin-right: 23px;
    }
}